# This is the title
# (Here comes details to make the interface more user-friendly)
MY_FIRST_VARIABLE=
MY_SECOND_VARIABLE=42
MY_THIRD_VARIABLE=42  # My third variable

# This block has no description
SHOULD_I_DO_THAT=False

# This block uses the auto-config and the random features
NAME=Cuducos
PERIOD=morning
THIS_IS_NOT_USED_IN_AUTO_CONFIG=ok?
GREETINGS=Good {PERIOD}, {NAME}!
I_HAVE_A_SECRET=<random>
I_HAVE_A_PIN_SECRET=<random:4>

# Test auto-config as first line
GREETINGS=Good {PERIOD}, {NAME}!
NAME=Cuducos
PERIOD=morning
